############################
# Compiled Object Files
############################
*.slo
*.lo
*.o
*.obj
*.OBJ
*.d
*.dep

############################
# Compiled Binaries & Outputs
############################
*.bin
*.elf
*.hex
*.HEX
*.map
*.MAP
*.ABS

############################
# Compiled Libraries
############################
*.so
*.dylib
*.lai
*.la
*.a
*.lib
*.LIB

############################
# Listing / Linker / Debug Files
############################
*.COD
*.cod
*.[Ii]
*.LST
*.lst
*.[Mm]51
*.[Mm]66
*.SCR
*.scr
*.lnp
*.build_log.htm
*._IA
*.__[Ii]
*._[Ii][Ii]

############################
# Eclipse / STM32CubeIDE
############################
.settings/
Debug/
Release/
# *.cproject
# *.project
*.xml

############################
# CooCox / Keil
############################
*.cogui
*.comarker
*.pbxproj
*.comemgui
debug.config
*.uvgui.*
*.uvguix.*

############################
# J-Link
############################
*.jflash

############################
# MATLAB / Simulink
############################
*.asv
*.m~
*.mex*
*.mlappinstall
*.mltbx
*.autosave
*.slxc
octave-workspace
helpsearch*/
slprj/
sccprj/
codegen/

############################
# Visual Studio Code
############################
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.ionide

############################
# Misc / Backup / Trash
############################
*.bak
